:root {
  --primary: #2b5d29ff;
  --primary-light: #8da24cff;
  --secondary: #fefae0ff;
  --terziary: #e4be82ff;
}

.form__field::placeholder {
  color: transparent;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

@media (orientation: landscape) {
  @media screen and (min-width: 500px) {
    body {
      font-size: 1rem;
    }
  
    #login_div {
      height: 35%;
      width: 60vh;
      margin: auto;
    }
  
    #login_card {
      background-color: var(--primary-light);
      height: 100%;
      top: 50%;
    }
  
    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
      margin: auto;
      font-weight: 400;
    }
    .form__field {
      width: 100%;
      border: 0;
      border-bottom: 2px solid var(--primary);
      outline: 0;
      font-size: 1.5rem;
      color: var(--secondary);
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
  
    .form__field:placeholder-shown ~ .form__label {
      font-size: 1.5rem;
      cursor: text;
      top: 20px;
    }
  
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--primary);
    }
    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 500;
      border-width: 3px;
      border-image: linear-gradient(to right, white, #fefae0ff);
      border-image-slice: 1;
    }
    .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--secondary);
      font-weight: 500;
    }
  
    #user {
      top: 10%;
    }
    #pass {
      top: 25%;
    }
    #forgot {
      font-size: 100%;
      text-decoration: none;
    }
  
    #login {
      position: relative;
      top: 8rem;
      background-color: var(--primary-light);
      border-color: var(--primary);
      border-width: 2px;
      width: 25%;
      height: 15%;
      color: var(--primary);
      font-size: 150%;
      font-weight: 500;
      border-radius: 1.2rem;
      padding-bottom: 8.5%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    body {
      font-size: 1.5rem;
    }
  
    #login_div {
      height: 40%;
      width: 80vh;
      margin: auto;
    }
  
    #login_card {
      background-color: var(--primary-light);
      height: 100%;
      top: 40%;
    }
  
    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
      margin: auto;
      font-weight: 350;
    }
    .form__field {
      width: 100%;
      border: 0;
      border-bottom: 2px solid var(--primary);
      outline: 0;
      font-size: 2rem;
      color: var(--secondary);
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
  
    .form__field:placeholder-shown ~ .form__label {
      font-size: 2rem;
      cursor: text;
      top: 20px;
    }
  
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--primary);
    }
    .form__field:focus {
      padding-bottom: 6px;
      font-weight: 500;
      border-width: 3px;
      border-image: linear-gradient(to right, white, #fefae0ff);
      border-image-slice: 1;
    }
    .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--secondary);
      font-weight: 500;
    }
  
    #user {
      top: 10%;
    }
    #pass {
      top: 25%;
    }
    #forgot {
      font-size: 75%;
      text-decoration: none;
    }
  
    #login {
      position: relative;
      top: 9rem;
      background-color: var(--primary-light);
      border-color: var(--primary);
      border-width: 2px;
      width: 25%;
      height: 15%;
      color: var(--primary);
      font-size: 150%;
      font-weight: 500;
      border-radius: 1.7rem;
      padding-bottom: 8.5%;
    }
  }

  /* BACKGROUND */
.wrapper {
  position: absolute;
  animation: scroll 10000s linear infinite;
  background: url(../img/varie/background.png);
  background-size: 75%;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

@keyframes scroll {
  100% {
    background-position: -55000% -100000%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 30000s linear infinite;
  }
}
}

@media (orientation: portrait) {
  body {
    font-size: 1rem;
  }

  #login_div {
    height: 40%;
    width: 50vh;
    margin: auto;
  }

  #login_card {
    background-color: var(--primary-light);
    height: 100%;
    top: 40%;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 70%;
    margin: auto;
    font-weight: 350;
  }
  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--primary);
    outline: 0;
    font-size: 1.5rem;
    color: var(--secondary);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.5rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
  }
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, white, #fefae0ff);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--secondary);
    font-weight: 500;
  }

  #user {
    top: 10%;
  }
  #pass {
    top: 25%;
  }
  #forgot {
    font-size: 100%;
    text-decoration: none;
  }

  #login {
    position: relative;
    top: 9.5rem;
    background-color: var(--primary-light);
    border-color: var(--primary);
    border-width: 2px;
    width: 40%;
    height: 15%;
    color: var(--primary);
    font-size: 150%;
    font-weight: 500;
    border-radius: 1.7rem;
    padding-bottom: 10%;
  }

  /* BACKGROUND */
.wrapper {
  position: absolute;
  animation: scroll 50000s linear infinite;
  background: url(../img/varie/background.png);
  background-size: 150%;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

@keyframes scroll {
  100% {
    background-position: 550000% -150000%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 150000s linear infinite;
  }
}
}