.navbar {
    background-color: #E4BE82;
}
.navbar-brand
{
 font-size: 16px;
}


body {
    background-color: #FEFAE0;
    overflow-x: hidden;
    padding-bottom: 4vw;
}

.btn {
    background-color: #FEFAE0;
    color: #537100;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1%;
    width: 2vw;
    height: 2vw;
}

#btn-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
}

.btn:hover
{
    background-color: #537100;

}

.card-header{
    background-color: #E4BE82;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.card-body {
    background-size: cover;
    background-position: center;
}

.custom-footer .left-buttons {
    display: flex;
    align-items: center;
}

.custom-footer {
    background-color: #E4BE82;
    border-end-end-radius: 30px !important;
    border-end-start-radius: 30px !important;
}


.custom-footer .left-buttons button {
    background-color: #FEFAE0;
    color: black;
    font-size: 14px;
    padding: 6px 12px;
    margin-left: 5%;
}

.custom-footer .label {
    margin-top: -2%;
    color: #8DA24C;
    flex-grow: 1;
    text-align: center;
    margin-left: 1%;
}

.destra
{
    margin-left: 3%;
}


.rounded-top{
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
}

.bollino{
    width: 1vw;
    height: 1vw;
    border-radius: 30px;
}

.conferme{
    background-color: #fefae0;
    width: 2vw !important;
    height: 2vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.Daapprovare{
    background-color: orange;
    border: 1px solid rgb(188, 122, 0);
}

.Approvata{
    background-color: #537100;
    border: 1px solid #283601;
}

.Rifiutata{
    background-color: red;
    border: 1px solid rgb(162, 0, 0);
}

.Bonificata{
    background-color: white;
    border: 1px solid rgb(153, 153, 153);
}

.border-top-primary{
    border-top: solid 1px #2836017d !important;
}

.border-bottom-primary{
    border-bottom: solid 1.5px #2836017d !important;
}

.image-container{
    width: 100%;
    height: 40vh;
    background-color: #E4BE82;
}

.image-container img{
    border-radius: 15px;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    background-position: center;
}

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.fullscreen-image img {
    
    min-height: 90vh;
    min-width: 90vw;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media screen and (max-width: 3000px) and (min-width: 600px) {
    .card{   
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 600px) {
    .card{   
        width: 80%;
        height: 40%;
    }
    
    .btn {
        background-color: #FEFAE0;
        color: #537100;
        border: none;
        font-size: 16px;
        cursor: pointer;
        margin-right: 1%;
        width: 4vw;
        height: 4vw;
    }
    
    .conferme{
        background-color: #fefae0;
        width: 4vw !important;
        height: 4vw !important;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }
}