:root {
  --primary: #2b5d29ff;
  --primary-light: #8da24cff;
  --secondary: #fefae0ff;
  --terziary: #e4be82ff;
}

/* *{
    color: var(--secondary);
} */

body {
  background-color: var(--secondary) !important;
}

#login {
  text-decoration: solid;
  color: var(--primary-light);
  font-weight: bolder;
}

/* NAV BAR */


.navbar-custom {
  background-color: #E4BE82;
}


.navbar-custom .navbar-nav .nav-link {
  color: #2B5D29;
  white-space: nowrap;
  font-weight: bold;
}


@media (max-width: 768px) {
  .navbar-custom .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
}

#logo {
  width: 3vw !important;
  height: 8vh !important;
  background-image: url("../img/logo/dumpfinder.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0.2vw 0 10px var(--secondary));
}

/* /NAV BAR */

/* BG titolo */
#bg-titolo {
  width: 100%;
  height: 50vh;
  background-image: url(../img/varie/titolo.jpg);
  background-position: 150%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  border-radius: 15px;
}

#bg-titolo h1 {
  font-size: 8vw;
  color: var(--primary);
  filter: drop-shadow(0.2vw 0 10px var(--secondary));
}

#bg-titolo h4 {
  color: var(--primary-light);
}

p {
  text-align: justify !important;
  font-size: large;
}

#div-idea {
  background-color: #8da24cff;
}

#div-ris {
  background-color: #8da24cff;
  left: 2vw;
}

#div-img {
  top: 10vh;
  right: 0vw;
}

#immagina{
  width: auto !important;
  height: auto !important;
}
#immagina-ris{
  width: auto !important;
  height: auto !important;
}


@media (max-width: 567px) {
  #idea{
    display: flex;
    flex-direction: column !important; 
    align-items: center; /* Centra gli elementi lungo l'asse trasversale */
    justify-content: center !important;
    margin-top: 10vw;

  }

  #div-img {
    align-items: center;
    /*position: sticky;/
    top: 0; /* Rimuove il margine superiore */
    margin-top: -6vw;
    width: 9vw !important;
    display: flex;
    justify-content: center !important;
    border-radius: 10px;
    padding: 10px; 
  }

  #div-idea {
    text-align: center; /* Centra il testo all'interno dell'elemento */
    display: flex;
    justify-content: center !important;
    width: 132% !important;
    margin-bottom: 5vw;
  }

  #div-idea h1{
    width: 100%;
  }

  #immagina{
    width: 300vw !important;
    height: 60vw !important;
    align-items: center;
  }

  #squadra{
    display: flex;
    flex-direction: column !important; 
    align-items: center; /* Centra gli elementi lungo l'asse trasversale */
    justify-content: center !important;
    margin-top: -3vw;
  }

  .div-sq{
    margin-top: 20vw;
  }

  .img-qr-code {
    width: 0vw !important;
    height: 40vw !important;
  }




  #ris {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}

.div-ris {
  text-align: center;
  text-align: center; /* Centra il testo all'interno dell'elemento */
  display: flex;
  justify-content: center !important;
  width: 120% !important;
  margin-bottom: 5vw;
}

#immagina-ris {
  width: 35vw !important;
  height: 30vw !important;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

#div-h1-ris {
  margin: 0;
}
}

/* CAROUSEL STATISTICHE */

.slider {
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.item {
  position: absolute;
  width: 15%;
  height: 90%;
  text-align: justify;
  background-color: var(--primary-light);
  border-radius: 3%;
  transition: 0.5s;
  left: calc(50% - 137px);
  top: 1%;
}

#next,
#prev {
  width: 2.5%;
  position: absolute;
  top: 40%;
  color: var(--primary);
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 5%;
  background-color: var(--secondary);
  border-radius: 100%;
}

#next {
  left: unset;
  right: 5%;
}

.img {
  width: 100%;
  height: 45%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  object-fit: cover;
  filter: brightness(85%);
}

.text {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  color: var(--primary);
  font-weight: bolder;
}

h2 {
  text-align: center;
}

h3.team {
  position: relative;
  font-weight: 700;
  color: var(--terziary);
  -webkit-text-stroke: var(--primary) 1px;
  z-index: 999;
}

h6 {
  color: var(--secondary);
  text-align: justify;
}

h6.primary-color {
  color: var(--primary);
}

.img-team {
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.5) 0.5vw 0.5vw 1vw;
}

.img-qr-code {
  max-width: max-content;
  min-width: 10vw;
}

.border-primary {
  outline: var(--primary) solid;
}

#fixedDiv {
  position: block;
}

.fixed {
  width: 100%;
  animation: fixe 0.3s forwards;
  z-index: 999;
  top: 0;
}

@keyframes fixe {
  0% {
    opacity: 0%;
    position: block;
  }

  100% {
    opacity: 100%;
    position: fixed;
  }
}