/* Coolors Exported Palette - https://coolors.co/ecffeb-e7ebbc-2b5d29-162f15-000000 */

/* CSS HEX */
--honeydew: #ecffebff;
--cream: #e7ebbcff;
--hunter-green: #2b5d29ff;
--dark-green: #162f15ff;
--black: #000000ff;

/* CSS HSL */
--honeydew: hsla(117, 100%, 96%, 1);
--cream: hsla(65, 54%, 83%, 1);
--hunter-green: hsla(118, 39%, 26%, 1);
--dark-green: hsla(118, 38%, 13%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$honeydew: #ecffebff;
$cream: #e7ebbcff;
$hunter-green: #2b5d29ff;
$dark-green: #162f15ff;
$black: #000000ff;

/* SCSS HSL */
$honeydew: hsla(117, 100%, 96%, 1);
$cream: hsla(65, 54%, 83%, 1);
$hunter-green: hsla(118, 39%, 26%, 1);
$dark-green: hsla(118, 38%, 13%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$honeydew: rgba(236, 255, 235, 1);
$cream: rgba(231, 235, 188, 1);
$hunter-green: rgba(43, 93, 41, 1);
$dark-green: rgba(22, 47, 21, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-right: linear-gradient(90deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-left: linear-gradient(270deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);
$gradient-radial: radial-gradient(#ecffebff, #e7ebbcff, #2b5d29ff, #162f15ff, #000000ff);