.navbar {
    background-color: #E4BE82;
}

body {
    background-color: #FEFAE0;
}

.btn {
    background-color: #FEFAE0;
    color: #537100; /* Colore del testo */
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 57px;
    margin-right: 1%;
}
.img_card
{
    width: 40%;
    height: 40%;
}
.card
{   
    width: 40%;
    height: 40%;
}

.card-header
{

    background-color: #E4BE82;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;




}