:root {
    --primary: #2b5d29ff;
    --primary-light: #8da24cff;
    --secondary: #fefae0ff;
    --terziary: #e4be82ff;
}

body {
    background-color: var(--secondary);
}

#login {
    text-decoration: none;
    color: var(--primary-light);
    font-weight: bold;
}

/* NAV BAR */
.nav {
    background-color: var(--terziary)!important;
    padding: 2% 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold !important;
}

#logo {
    width: 30px;
    height: 30px;
    background-image: url('../img/logo/dumpfinder.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0.2vw 0 10px var(--secondary));
}
/* /NAV BAR */

/* BG titolo */
#bg-titolo {
    height: 50vh;
    background-image: url(../img/varie/bg-title.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 10% 5%;
}

#bg-titolo h1 {
    font-size: 8vw;
    color: var(--primary);
    filter: drop-shadow(0.2vw 0 10px var(--secondary));
}

#bg-titolo h4 {
    color: var(--primary-light);
}

/* Modifiche per dispositivi mobili */
@media only screen and (max-width: 768px) {
    .nav {
        padding: 2% 3%;
    }

    #bg-titolo {
        padding: 20% 5%;
    }

    #bg-titolo h1 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
    .nav {
        flex-direction: row; /* Cambiato in direzione orizzontale */
        justify-content: space-around; /* Distribuzione uniforme degli elementi */
        align-items: center;
        text-align: center;
        padding: 2% 5%; 
        height: auto;
    }

    .nav-item {
        margin: 0; /* Rimozione della spaziatura tra gli elementi */
        width: auto; /* Larghezza automatica */
    }

    /* Ridimensionamento del font */
    .nav-item h3 {
        font-size: 3vw; /* Ridimensionato il font size in percentuale */
    }
}